# Compiled python files
*.pyc

# Python egg info
*.egg-info/

# Build and distribution folders
build/
dist/

# Last package manifest used
/MANIFEST.in

# Eclipse files
/.metadata/
/.project
/.pydevproject
/.settings/
/src/.project
/src/.pydevproject
/src/.settings/

# tests persos
/src/test.py
/src/tous.py

# Documentation sphinx
/Doc/build/doctrees/
/Doc/build/.doctrees/
/Doc/build/doctest/
/Doc/build/.buildinfo
