Source: pyromaths
Distribution: unstable
Section: contrib/math
Priority: optional
Maintainer: Jérôme Ortais <jerome.ortais@pyromaths.org>
Build-Depends: debhelper (>= 7), python
Standards-Version: 3.9.5
XS-Python-Version: current
XB-Python-Version: ${python:Versions}
Homepage: http://www.pyromaths.org/

Package: pyromaths
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-qt4, python-lxml, texlive-pstricks, texlive-latex-base, texlive-latex-extra, texlive-fonts-recommended, texlive-latex-recommended, latexmk
Description: Exerciseur de mathématiques créant des fiches LaTeX
 Pyromaths est un programme qui a pour but de créer des exercices
 type de mathématiques niveau collège et lycée ainsi que leur corrigé. C'est
 ce qu'on appelle parfois un exerciseur. Contrairement à de nombreux autres
 projets, Pyromaths a pour objectif de proposer une correction véritablement
 détaillée des exercices proposés et pas seulement une solution.
 .
 Il permet par exemple de proposer des devoirs maison aux élèves et de leur
 distribuer ensuite la correction. Il peut aussi servir à des familles afin
 qu'un élève puisse travailler un point du programme et se corriger ensuite.
