#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

override_dh_auto_clean:
	rm -rf debian/pyromaths
	find $(CURDIR) -name "*\.py[co]" | xargs rm -f

override_dh_python2:
	dh_python2 /usr/lib/python2.7/dist-packages/pyromaths

%:
	dh $@ --with python2
